@media (max-width: 768px) {
    .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: white;
    }
    .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
}